<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <script>
        function onClick() {
            var ul = document.getElementById("list");
            var li = document.createElement("li");
            let input = document.createElement("input");
            input.name = 'value'
            li.appendChild(input);
            ul.appendChild(li);
        }
    </script>
</head>
<body>
<form th:action="@{'/databases/' + ${database} + '/enumerations'}" method="post">
    Create enumeration:<br>
    Name: <input name="name" type="text" required>
    <ul id="list"></ul>
    <button type="button" onclick="onClick()">+</button>
    <br>
    <button type="submit">Save</button>

</form>

<div th:if="${tables.isEmpty()}">
    No tables found
</div>
<div th:unless="${tables.isEmpty()}">
    <table>
        <tbody>
        <tr th:each="table: ${tables}">
            <td>
                <a th:href="@{'/databases/' + ${database} + '/tables/' + ${table.name}}" th:text="${table.name}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>