<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<form th:action="@{'/databases/' + ${databaseName} + '/tables/' + ${tableName} + '/delete'}" th:method="post">
    <button type="submit">Drop table</button>
</form>
<form th:action="@{'/databases/' + ${databaseName}+ '/tables/' + ${tableName}}" th:method="get">
    Sort by
    <select name="sortingColumn">
        <option th:each="option: ${sortingColumnOptions}" th:text="${option}"></option>
    </select>
    <select name="sortDirection">
        <option th:each="option: ${sortingDirectionOptions}" th:text="${option}"></option>
    </select>
    <button type="submit">Sort</button>
</form>
<form th:action="@{'/databases/' + ${databaseName} + '/tables/' + ${tableName} + '/insert'}" method="post">
    <table>
        <tr>
            <td th:each="column : ${columns}" style="width: 200px">
                <span th:text="${column.name}"></span>
                <input th:name="${column.name}" type="text">
            </td>
            <td>
                <button type="submit">Insert</button>
            </td>
        </tr>
    </table>
</form>
<table>
    <thead>
    <tr>
        <td th:each="column: ${columns}" th:text="${column.name}" style="width: 200px"></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row: ${rows}">
        <td th:each="field: ${row.fields}" th:text="${field.value}">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>