<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<form th:action="@{'/databases/' + ${databaseName} + '/tables/' + ${tableName} + '/delete'}" th:method="post">
    <button type="submit">Drop table</button>
</form>
<table>
    <thead>
    <tr>
        <td th:each="column: ${columns}" th:text="${column.name}"></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row: ${rows}">
        <td th:each="field: ${row.fields}" th:text="${field.value}">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>